
  <div class="overflow-hidden">

<div class=" flex justify-between items-center  bg-[#FAFAFA] border border-[#DCDEE3] w-full [1385px] h-[72px] px-4 mt-4">      

            <div class="flex gap-6">
            <div class="">
                <button (click)="goBack()" class="bg-[#EFF0F3] w-[40px] h-[40px] rounded-[10px] p-[10px]">
                    <img src="/Backarrow.png">
                </button> 
            </div>
            <div class="mt-2 font-bold">
                Back
            </div>
            </div>
            
      </div>
  
      
<div class="flex mt-[]">
<div>
<!-- Mobile Toggle Button -->
 
<button
type="button"
  class="lg:hidden z-10 relative top-4  bg-gray-800 text-white px-3 py-2 rounded"
  (click)="isSidebarOpen = !isSidebarOpen"
>
  ☰
</button>


<!-- Sidebar Responsive -->
<ul
 [ngClass]="{
  'hidden': !isSidebarOpen,
  'block': isSidebarOpen
}"
  class="fixed z-10 mx-10 left-0 top-[17rem]  w-60 text-white bg-gray-800 lg:h-screen lg:bg-white lg:text-black shadow p-4
         md:block md:static md:h-auto md:top-0 md:z-auto"
>
  <li
    *ngFor="let step of steps"
    class="px-4 py-2 relative lg:top-14 hover:bg-gray-700 hover:text-white w-full mt-"
  >
    <label class="relative flex items-center cursor-pointer">
      <input
        type="checkbox"
        [checked]="isCheckedMap[step]"
        class="peer hidden"
      />


                   <!-- CHECK BOX -->
      <div
        class="w-5 h-5 rounded-full border-2 border-dotted border-[#D4D4D8] peer-checked:bg-green-500 flex items-center justify-center"
      >
        <svg
          *ngIf="isCheckedMap[step]"
          xmlns="http://www.w3.org/2000/svg"
          class="h-3 w-3 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
            d="M5 13l4 4L19 7"
          />
        </svg>
      </div>
      <a
        [routerLink]="[step]"
        [queryParamsHandling]="'preserve'"
        class="ml-2 capitalize"
        (click)="isSidebarOpen = false"
        routerLinkActive="bg-gray-300 shadow-lg shadow-black hover:text-white hover:bg-gray-700"
      >
        {{ step.replace('-', ' ') }}
      </a>
    </label>
  </li>
</ul>
    
</div> 
  

<div>
<div class="mt-8">
      <router-outlet></router-outlet>
     </div>
   </div>