
    
        <!-- Edit button -->
<div class="flex justify-end gap-4 col-span-3 relative md:left-[7.4rem] left-[5.2rem] top-[-6rem] md:top-[-5.5rem] mx-20">
  <button
    type="button"
    *ngIf="!editMode"
    (click)="onEditToggle()"
    class="flex justify-center bg-blue- border border-[#727A90] text-[14px] text-[#727A90] w-[69.65px] h-[40px] py-2 rounded-[10px] hover:bg-gray-400 hover:text-white transition"
  >
     <span class="material-symbols-outlined text-[20px]">edit</span>Edit
  </button>

  <!-- Save and cancel -->

       <ng-container *ngIf="isLoading">
  <div class="mt-6 flex justify-center relative top-[-15px]">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</ng-container>

  <ng-container *ngIf="editMode">
    <button
      type="button"
      (click)="onSubmit(staffForm)"
      
      class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition"
    >
      Save
    </button>
  
    <button
      type="button"
      (click)="onCancel()"
      class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition"
    >
      Cancel
    </button>
  </ng-container>
  </div>


<!-- 
     <ng-container *ngIf="isLoading">
  <div class="mt-6 flex justify-center relative top-[rem]">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-container> -->

  <ng-container *ngIf="isAPILoading">
    <div class="fle justify-center right-[40rem] absolute top-[25rem] ">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-container>



    <div class="">
        <p class="font-bold font-outfit w-60">Employment Details</p>
        <p class="text-[#727A90] text-[12px] w-60">Official job Information</p>
    </div>




                                <!-- FORM -->
<form #staffForm="ngForm" (ngSubmit)="onSubmit(staffForm)" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-10 bg-white rounded gap-y-6 mt-10">

  <!-- Job Title -->
  <div>
    <label class="block text-sm font-medium text-gray-700 font-outfit">Job Title</label>
    <input  
      type="text" 
      name="jobTitle" 
      [(ngModel)]="employeeData.jobTitle"
      [disabled]="!editMode"
      #jobTitle="ngModel"
      required
      placeholder="Enter job title" 
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

      <p *ngIf="jobTitle.invalid && (jobTitle.touched || jobTitle.dirty)" class="text-red-600 text-sm">
     Job Title required
    </p>
  </div>

  <!-- Unit -->
  <!-- <div>
    <label class="block text-sm font-medium text-gray-700 font-outfit">Unit</label>
    <select
      name="unitId"
      [(ngModel)]="employeeData.unitId"
      [disabled]="!editMode"
      required
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
    >
      <option [ngValue]="null" disabled>Select a unit</option>
      <option *ngFor="let item of units" [ngValue]="item._id">
        {{ item.name }}
      </option>
    </select>
  </div> -->

  <!-- Employment Type -->
  <div>
    <label class="block text-sm font-medium text-gray-700 font-outfit">Employment Type</label>
    <input 
      type="text" 
      name="employmentType" 
      [(ngModel)]="employeeData.employmentType"
      [disabled]="!editMode" 
       #employmentType="ngModel"
      required
      placeholder="Enter employment type" 
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

      <p *ngIf="employmentType.invalid && (employmentType.touched || employmentType.dirty)" class="text-red-600 text-sm">
     Employment Type required
    </p>
  </div>

  <!-- Hire Date -->
  <div>
    <label class="block text-sm font-medium text-gray-700 font-outfit">Hire Date</label>
    <input 
      type="date" 
      name="hireDate" 
      [(ngModel)]="formattedDOB"
      [disabled]="!editMode"
       #hireDate="ngModel"
      required
      placeholder="Enter date"
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
    />

      <p *ngIf="hireDate.invalid && (hireDate.touched || hireDate.dirty)" class="text-red-600 text-sm">
     Date required
    </p>
  </div>

  <!-- Work Location -->
  <div>
    <label class="block text-sm font-medium text-gray-700 font-outfit">Work Location</label>
    <input 
      type="text" 
      name="workLocation" 
      [(ngModel)]="employeeData.workLocation"
      [disabled]="!editMode"
       #workLocation="ngModel"
      required
      placeholder="Enter work location"
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
    />

      <p *ngIf="workLocation.invalid && (workLocation.touched || workLocation.dirty)" class="text-red-600 text-sm">
    Work Location required
    </p>
  </div>

  <!-- Supervisor -->
  <!-- <div>
    <label class="block text-sm font-medium text-gray-700 font-outfit">Supervisor</label>
    <select
      name="supervisorId"
      [(ngModel)]="employeeData.supervisorId"
      [disabled]="!editMode"
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
    >
      <option [ngValue]="null" disabled>Select a supervisor</option>
      <option *ngFor="let sup of supervisor" [ngValue]="sup._id">
        {{ sup.firstName }} {{ sup.lastName }}
      </option>
    </select>
  </div> -->

  <!-- Staff ID -->
  <div>
    <label class="block text-sm font-medium text-gray-700 font-outfit">Staff ID</label>
    <input 
      type="text" 
      name="staffId" 
      [(ngModel)]="employeeData.staffId"
      [disabled]="!editMode"
       #staffId="ngModel"
      required
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
    />

      <p *ngIf="staffId.invalid && (staffId.touched || staffId.dirty)" class="text-red-600 text-sm">
    Staff Id required
    </p>
  </div>
</form>

















   <!-- <div class="mb-4 space-y-6">
    
     <div>

    <div class="">
    <p class="font-bold font-outfit text-[16px]">Docs</p>
    <p class="text-[#727A90] text-[12px] font-outfit w-80">Upload a scanned copy of the spouse's marriagecertificate.</p>
    </div>

   <div class="mb-10 mt-10">

         <div
  class="border-2 border-dashed border-blue-400 w-[45rem] lg:w-[1020px] h-[172px] p-6 rounded-md text-center cursor-pointer bg-[#F8FAFF]"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [ngClass]="{ 'bg-blue-50': isDragging }"
>
  <div class="flex justify-center">
  <img src="/upload.png" class="w-[42px] h-[42px] ">
  </div>
  <p class="text-gray-500 text-sm mt-2">Drag your file(s) and start uploading</p>

    <div class="flex items-center justify-center my-1">
  <div class="flex-gro w-20 h-px bg-gray-300"></div>
  <span class="px-4 text-gray-500 text-sm">OR</span>
  <div class="flex-gro w-20 h-px bg-gray-300"></div>
  </div>


  <button (click)="fileInput.click()" class="text-sm border-2 rounded-lg w-[95px] h-[30px] my-1">Browse file</button>

  <input
    type="file"
     directory
    multiple
    (change)="onFileSelected($event)"
    #fileInput
    class="hidden"
  />
</div>


   <div *ngIf="selectedFiles.length > 0" class="mt-4 space-y-2">
  <div
    *ngFor="let file of selectedFiles; let i = index"
    class="flex items-center gap-4 border p-2 rounded-md justify-between lg:w-[1150px] lg:right-[26rem] relativ lg:top-[12rem]"
  >
    File Icon and Info
    <div class="flex items-center gap-4 ">
      Icon
      <div>
        <ng-container [ngSwitch]="getFileType(file)">
          <i *ngSwitchCase="'image'" class="text-blue-500">🖼️</i>
          <i *ngSwitchCase="'pdf'" class="text-red-500">📄</i>
          <i *ngSwitchCase="'word'" class="text-indigo-500">📘</i>
          <i *ngSwitchCase="'excel'" class="text-green-500">📗</i>
          <i *ngSwitchCase="'text'" class="text-gray-500">📑</i>
          <i *ngSwitchDefault class="text-gray-600">📁</i>
        </ng-container>
      </div>

      File Info
      <div>
        <p class="text-sm font-medium">{{ file.name }}</p>
        <p class="text-xs text-gray-500">{{ formatSize(file.size) }}</p>
      </div>
    </div>

    Cancel Button
    <button
      (click)="removeFile(i)"
      class="border-2 border-[#858585] text-[#858585] hover:text-gray-700 text-[10px] bg-gray-300 rounded-full w-[20px] h-[20px] "
      title="Remove File"
    >
      ✖
    </button>
  </div>
</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
















 <!-- <select
    name="stepSelect"
    [value]="employeeData"
    class="block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500"
  >
    <option *ngFor="let step of employeeData" [value]="step">
      {{ step.unit.firstName }}
    </option>
  </select>

  
 <div class="w-full max-w-sm mb-10">
  <label for="stepSelect" class="block text-sm font-medium text-gray-700 mb-2">
    Select Step
  </label>
 </div> -->