

<div class="lg:mx-[17rem] mt- lg:mt-12 ">
    <div class="">
        <p class="font-bold font-outfit w-60">Employment Details</p>
        <p class="text-[#727A90] text-[12px] w-60">Official job Information</p>
    </div>

    <form *ngIf="employeeData" #staffForm="ngForm" (ngSubmit)="onSubmit(staffForm)" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-2 gap-4 p-6 bg-white rounded gap-y-6 gap-x-[22rem]">
  <!-- Row 1 -->
   
  <div class="">
    <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Job Title</label>
    <input  type="text" name="jobTitle" [(ngModel)]="employeeData.supervisor.jobTitle" (ngModelChange)="onInputChange($event)"  placeholder="Enter legal first name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Unit</label>
    <input type="text" name="unit" [(ngModel)]="employeeData.unit.name" [value]="employeeData" placeholder="Enter legal last name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

  <!-- Row 2 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Employment Type</label>
    <input type="text" name="text" [(ngModel)]="employeeData.employmentType" placeholder="Select birth date" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Hire Date</label>
    <input type="text" name="gender" [(ngModel)]="employeeData.hireDate" placeholder="Chose gender" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>
  

  <!-- Row 3 -->
  <div>
     <label class="block w-40 text-sm font-medium text-gray-700">Work Location</label>
    <input type="text" name="maritalStatus" [(ngModel)]="employeeData.workLocation" placeholder="Select marital status" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/> 
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Supervisor</label>
    <input type="text" name="phoneNumber" [value]="employeeData?.supervisor.firstName + ' ' + employeeData?.supervisor.lastName" placeholder="Enter active phone number" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

</form>





 <!-- <select
    name="stepSelect"
    [value]="employeeData"
    class="block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500"
  >
    <option *ngFor="let step of employeeData" [value]="step">
      {{ step.unit.firstName }}
    </option>
  </select>

  
 <div class="w-full max-w-sm mb-10">
  <label for="stepSelect" class="block text-sm font-medium text-gray-700 mb-2">
    Select Step
  </label>
 </div> -->