 <div class="mx-[17rem]">
      <form  #staffForm="ngForm" (ngSubmit)="onSubmit(staffForm)" class="grid grid-cols-3 grid-rows-4 gap-4 p-6 bg-white rounded gap-y-6 gap-x-[22rem]">
  <!-- Row 1 -->
   
  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">First Name</label>
    <input type="text" name="firstName"  placeholder="Enter legal first name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Last Name</label>
    <input type="text" name="lastName"  placeholder="Enter legal last name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Other</label>
    <input type="other" name="other"   placeholder="Enter if any" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>
 
 

  <!-- Row 2 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Date of birth</label>
    <input type="text" name="dateOfBirth"  placeholder="Select birth date" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Gender</label>
    <input type="text" name="gender"  placeholder="Chose gender" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Nationality</label>
    <input type="text" name="nationality"  placeholder="Enter country of origin" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>


  <!-- Row 3 -->
  <div >
     <label class="block w-40 text-sm font-medium text-gray-700">Marital Status</label>
    <input type="text" name="maritalStatus"   placeholder="Select marital status" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  
    <!-- <label class="block w-40 text-sm font-medium text-gray-700">Marital status</label>
   <select
  [(ngModel)]="selectedStaff"
  name="maritalStatus"
  class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
>
  <option value="" disabled>Select marital status</option>
  <option *ngFor="let user of staffData" [value]="user.superviser.maritalStatus">
    {{ user.superviser.maritalStatus }}
  </option>
  </select> -->
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Phone number</label>
    <input type="text" name="phoneNumber"  placeholder="Enter active phone number" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Enter email address</label>
    <input type="text" name="email"    placeholder="Enter valid email address" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>


   <!-- Row 4 -->
  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">ID Type</label>
    <input type="text" name="idType"  placeholder="Select ID type (e.g Nation ID, Passport)" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>
  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">ID Number</label>
    <input type="text" name="idNumber"  placeholder="Enter valid ID number" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>
  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">Email address</label>
    <input type="text" name="email"  placeholder="Enter valid email address"  class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

</form>

 </div>
