

<div class="mx-[17rem] ">

    <div class="mt-10">
        <p class="font-outfit font-bold text-[16px]">Family Details</p>
        <p class="font-outfit text-[#727A90] text-[12px]">Information for family-related benefit and records,</p>
    </div>

<!-- <form  #staffForm="ngForm" (ngSubmit)="onSubmit(staffForm)" class="grid grid-rows-4 gap-20 bg-white rounded-lg mt-10 ">

  Row 1: 3 input fields
  <div class="grid grid-cols-3 gap-[24rem]">
    <input type="text" placeholder="Input 1" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    <input type="text" placeholder="Input 2" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    <input type="text" placeholder="Input 3" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

  Row 2: 1 input field
  <div>
    <input type="text" placeholder="Input 4" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

  Row 3: 2 input fields
  <div class="grid grid-cols-2 gap-4">
    <input type="text" placeholder="Input 5" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    <input type="text" placeholder="Input 6" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>

  Row 4: 2 input fields
  <div class="grid grid-cols-2 gap-4 ">
    <input type="text" placeholder="Input 7" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    <input type="text" placeholder="Input 8" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

</form> -->

<form #staffForm="ngForm" (ngSubmit)="onSubmit(staffForm)"
  class="grid gap-10 bg-white rounded-lg mt-10 p-  ">

  <!-- Row 1: 3 input fields -->
  <div class="grid grid-cols-3 gap-[24rem]">
    <div class="w-[10rem]">
    <label class="font-bold text-[13px] font-outfit">Spouse's Name</label>
    <input type="text" placeholder="Enter full name of spouse" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    <div class="mt-10">
        <p class="font-bold font-outfit text-[16px] w-[10rem]">Children Information</p>
        <p class="text-[#727A90] text-[12px] w-[42rem]">Base on the total number of children entered above, the same number of fields will appear below to enter each child's full... </p>
    </div>
    </div>

    <div class="w-[24rem]">
    <label class="font-bold text-[13px] font-outfit">Spouse's Phone Number</label>
    <input type="text" placeholder="Phone number" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>

    <div class="w-[24rem]">
    <label class="font-bold text-[13px] font-outfit">Spouse's Email</label>
    <input type="text" placeholder="Enter address" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>

  </div>

  <!-- Row 2: Input 4 under Input 1 -->
  <div class="grid grid-cols-3 gap-6">
    <div>
     <label class="font-bold text-[13px] font-outfit">Number of Children</label>
    <input type="text" placeholder="Enter nu30-;l
    mbers(eg. 2)" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>
    <div></div>
    <div></div>
  </div>

  <!-- Row 3: Input 5 under column 1, Input 6 under column 2 -->
  <div class="grid grid-cols-3 gap-[24rem]">
    <div>
     <label class="font-bold text-[13px] font-outfit">Child 1</label>
    <input type="text" placeholder="Enter full name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>

    <div>
     <label class="font-bold text-[13px] font-outfit">Age</label>
    <input type="text" placeholder="Enter age in years" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
    </div>
    <div></div>
  </div>

  <!-- Row 4: Input 7 under column 1, Input 8 under column 2 -->
  <div class="grid grid-cols-3 gap-[24rem]">
    <div>
        <label class="font-bold text-[13px] font-outfit">Child 2</label>
    <input type="text" placeholder="Enter full name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>

    <div>
        <label class="font-bold text-[13px] font-outfit">Age</label>
    <input type="text" placeholder="Enter age in years" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
    </div>
    <div></div>
  </div>

</form>






  
</div>
