<div class=" lg:w-[69rem]">

                       <!-- ADD MORE FIELDS -->
      <div class="flex justify-end relative">
      <button
        type="button"
        (click)="addMoreEducation()"
        class="border-[1px] border-black text-black px-4 py-2 rounded-lg hover:bg-blue-700">
        + Add More
      </button>
      </div>
  

   



   

    <!-- Edit button -->
<div class="flex gap-4 justify-end col-span-3 relative md:right-[3.2rem] top-[-11.5rem] md:top-[-8.2rem]">
  <button
    type="button"
    *ngIf="!editMode"
    (click)="onEditToggle()"
    class="flex justify-center bg-blue- border border-[#727A90] text-[14px] text-[#727A90] px-3 lg:w-[69.65px] h-[40px] py-2 rounded-[10px] hover:bg-gray-400 hover:text-white transition"
  >
     <span class="material-symbols-outlined text-[20px]">edit</span>Edit
  </button>
 

   
        <!-- Save loader -->
       <ng-container *ngIf="isLoading">
  <div class="mt-6 flex justify-center relative top-[-15px]">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</ng-container>

           <!-- Save and cancel -->
  <ng-container *ngIf="editMode">
    <button
      type="submit"
      (click)="onSubmit(eduform)"
      class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition"
    >
      Save
    </button>
  
    <button
      type="button"
      (click)="onCancel()"
      class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition"
    >
      Cancel
    </button>
  </ng-container>
  </div>

  <!-- </div> -->

  <div class="mx-6 md:mx-0 mt-32 md:mt-[-40px]">

      <!--  -->
 <ng-container *ngIf="isAPILoading">
    <div class="fle justify-center right-[40rem] absolute top-[25rem] ">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-container>


    <div>
        <p class="font-bold font-outfit">Education Background</p>
        <p class="text-[#727A90] text-sm font-outfit">Academic and professional qualifications.</p>
    </div>




            <!-- FORM -->
    <form #eduform = "ngForm" class="mt-10 font-outfit space-y-[-10px] ">     
   <div *ngFor="let edu of educationData.educationDetails; let i = index" class="grid grid-rows-2 grid-cols-2 md:grid-cols-3 gap-x-10 ">
    <div>
    <label class="block w-40">Institution Name</label>
    <input
      type="text"
      [name]="'institutionName' + i"
      (keypress)="allowOnlyLetters($event)"
      placeholder="Enter name of institution"
      [(ngModel)]="edu.institutionName"
      [disabled]="!editMode"
      #institutionName="ngModel"
      required
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888]"
    />

      <p *ngIf="institutionName.invalid && (institutionName.touched || institutionName.dirty)" class="text-red-600 text-sm mb-8">
      Institution Name required
    </p>
    </div>

    <div>
    <label class="block w-40">Course of Study</label>
    <input
      type="text"
      [name]="'courseOfStudy' + i"
      (keypress)="allowOnlyLetters($event)"
      placeholder="Enter major or course"
      [(ngModel)]="edu.courseOfStudy"
      [disabled]="!editMode"
      #courseOfStudy="ngModel"
      required
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888]"
    />

      <p *ngIf="courseOfStudy.invalid && (courseOfStudy.touched || courseOfStudy.dirty)" class="text-red-600 text-sm">
      Course of Study required
    </p>
    </div>
    
    <div>
    <label class="block w-40">Start Date</label>
    <input
      type="date"
      [name]="'startDate' + i"
      [(ngModel)]="edu.startDate"
      [disabled]="!editMode"
      #startDate="ngModel"
      required
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3"
    />

      <p *ngIf="startDate.invalid && (startDate.touched || startDate.dirty)" class="text-red-600 text-sm">
      Start Date required
    </p>
    </div>

    <div class="mb-8 mt-[-24px]">
    <label class="block w-40">End Date</label>
    <input
      type="date"
      [name]="'endDate' + i"
      [(ngModel)]="edu.endDate"
      [disabled]="!editMode"
      #endDate="ngModel"
      required
      class="border border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3"
    />

      <p *ngIf="endDate.invalid && (endDate.touched || endDate.dirty)" class="text-red-600 text-sm">
      End Date required
    </p>

      
       <!-- REMOVE ADDED FIELD -->
      <div>
      <button
        type="button"
        (click)="removeEducation(i)"
        class="border border-red-500 bg-red-100 text-red-600 text-sm rounded-[4px] hover:text-red-800 mr-[20rem] mt-3 w-20">
        Remove
      </button>
      </div>


    </div>  
  </div>















<!-- 
  <div>

    <div class="">
    <p class="font-bold font-outfit text-[16px]">Docs</p>
    <p class="text-[#727A90] text-[12px] font-outfit w-80">Upload a scanned copy of the spouse's marriagecertificate.</p>
    </div>

   <div class="mb-10 mt-10">

    <div
  class="border-2 border-dashed border-blue-400 w-[1070px] h-[172px] p-6 rounded-md text-center cursor-pointer bg-[#F8FAFF]"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [ngClass]="{ 'bg-blue-50': isDragging }"
>
  <div class="flex justify-center">
  <img src="/upload.png" class="w-[42px] h-[42px] ">
  </div>
  <p class="text-gray-500 text-sm mt-2">Drag your file(s) and start uploading</p>

    <div class="flex items-center justify-center my-1">
  <div class="flex-gro w-20 h-px bg-gray-300"></div>
  <span class="px-4 text-gray-500 text-sm">OR</span>
  <div class="flex-gro w-20 h-px bg-gray-300"></div>
</div>

  <button (click)="fileInput.click()" class="text-sm border-2 rounded-lg w-[95px] h-[30px] my-1">Browse file</button>

  <input
    type="file"
    multiple
    (change)="onFileSelected($event)"
    #fileInput
    class="hidden"
  />
</div>



         <div *ngIf="selectedFiles.length > 0" class="mt-4 space-y-2">
  <div
    *ngFor="let file of selectedFiles; let i = index"
    class="flex items-center gap-4 border p-2 rounded-md justify-between lg:w-[1150px] lg:right-[26rem] relativ lg:top-[12rem]"
  >
    File Icon and Info
    <div class="flex items-center gap-4 ">
      Icon
      <div>
        <ng-container [ngSwitch]="getFileType(file)">
          <i *ngSwitchCase="'image'" class="text-blue-500">🖼️</i>
          <i *ngSwitchCase="'pdf'" class="text-red-500">📄</i>
          <i *ngSwitchCase="'word'" class="text-indigo-500">📘</i>
          <i *ngSwitchCase="'excel'" class="text-green-500">📗</i>
          <i *ngSwitchCase="'text'" class="text-gray-500">📑</i>
          <i *ngSwitchDefault class="text-gray-600">📁</i>
        </ng-container>
      </div>

      File Info
      <div>
        <p class="text-sm font-medium">{{ file.name }}</p>
        <p class="text-xs text-gray-500">{{ formatSize(file.size) }}</p>
      </div>
    </div>

    Cancel Button
    <button
      (click)="removeFile(i)"
      class="border-2 border-[#858585] text-[#858585] hover:text-gray-700 text-sm bg-gray-300 rounded-full w-[20px] h-[20px] "
      title="Remove File"
    >
      ✖
    </button>
  </div>
</div>

</div>
 </div> -->


       
    </form>
  </div>
  




















  <!-- Row ---1 -->

         <!-- <div >
            <label class="block w-40">Intitution Name</label>
            <input
            type="text"
            name="institutionName0"
            placeholder="Enter name of institution"
            [(ngModel)]="educationData.educationDetails[0].institutionName"
            
            [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
        </div>
            
        <div>
         <div >
             <label class="block w-40">Course of Study</label>
            <input
            type="text"
            name="courseOfStudy"
            placeholder="Enter major or course"
             [(ngModel)]="educationData.educationDetails[0].courseOfStudy"
             (ngModelChange)="onInputChange($event, 'courseOfStudy')" 
             [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
         </div>
         </div>

         <div >
             <label class="block w-40">Start Date</label>
            <input
            type="date"
            name="StartDate0"
            placeholder="Select program start date"
            [(ngModel)]="educationData.educationDetails[0].startDate"
            (ngModelChange)="onInputChange($event, 'StartDate0')" 
            [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
         </div>

                  Row ---2 
                     
          <div >
            <label class="block w-40">Intitution Name</label>
            <input 
            type="text"
            name="institutionName1"
            placeholder="Enter name of institution"
             [(ngModel)]="educationData.educationDetails[1].institutionName"
             (ngModelChange)="onInputChange($event, 'institutionName1')" 
             [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
        </div>

         <div >
             <label class="block w-40">End Date</label>
            <input
            type="date"
            name="endDate"
            placeholder="Select program end date"
            [(ngModel)]="educationData.educationDetails[0].endDate"
            (ngModelChange)="onInputChange($event, 'endDate')" 
            [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
         </div>

          <div>
             <label class="block w-40">Start Date</label>
            <input
            type="date"
            name="Startdate1"
            placeholder="select program start date"
            [(ngModel)]="educationData.educationDetails[1].startDate"
            (ngModelChange)="onInputChange($event, 'Startdate1')" 
            [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
         </div>  -->

