
<div class="mx-8 md:mx-0">
   

    <!-- Edit button -->
<div class="mt- flex gap-4 justify-end col-span-3 relativ left-10 md:left-40 md:top- [-0.2rem]">
  <button
    type="button"
    *ngIf="!editMode"
    (click)="onEditToggle()"
    class="flex justify-center bg-blue- border border-[#727A90] text-[14px] text-[#727A90] px-3 lg:w-[69.65px] h-[40px] py-2 rounded-[10px] hover:bg-gray-400 hover:text-white transition"
  >
     <span class="material-symbols-outlined text-[20px]">edit</span>Edit
  </button>

   
  <!-- Save and cancel -->
       <ng-container *ngIf="isLoading">
  <div class="mt-6 flex justify-center relative top-[-15px]">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</ng-container>

  <ng-container *ngIf="editMode">
    <button
      type="submit"
      (click)="onSubmit(eduform)"
      class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition"
    >
      Save
    </button>
  
    <button
      type="button"
      (click)="onCancel()"
      class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition"
    >
      Cancel
    </button>
  </ng-container>
  </div>


    <div>
        <p class="font-bold font-outfit">Education Background</p>
        <p class="text-[#727A90] text-sm font-outfit">Academic and professional qualifications.</p>
    </div>



            <!-- FORM -->
    <form  #eduform = "ngForm" class="grid grid-rows-2 grid-cols-3 gap-y-8 mt-12 font-outfit ">
        <!-- Row ---1 -->

         <div >
            <label class="block w-40">Intitution Name</label>
            <input
            type="text"
            name="institutionName0"
            placeholder="Enter name of institution"
            [(ngModel)]="educationData.educationDetails[0].institutionName"
            
            [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
        </div>
            
        <div>
         <div >
             <label class="block w-40">Course of Study</label>
            <input
            type="text"
            name="courseOfStudy"
            placeholder="Enter major or course"
             [(ngModel)]="educationData.educationDetails[0].courseOfStudy"
             (ngModelChange)="onInputChange($event, 'courseOfStudy')" 
             [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
         </div>
         </div>

         <div >
             <label class="block w-40">Start Date</label>
            <input
            type="date"
            name="StartDate0"
            placeholder="Select program start date"
            [(ngModel)]="educationData.educationDetails[0].startDate"
            (ngModelChange)="onInputChange($event, 'StartDate0')" 
            [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
         </div>

                  <!-- Row ---2       -->
          <div >
            <label class="block w-40">Intitution Name</label>
            <input     *ngIf="educationData?.educationDetails?.[0]" 
            type="text"
            name="institutionName1"
            placeholder="Enter name of institution"
             [(ngModel)]="educationData.educationDetails[1].institutionName"
             (ngModelChange)="onInputChange($event, 'institutionName1')" 
             [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
        </div>

         <div >
             <label class="block w-40">End Date</label>
            <input
            type="date"
            name="endDate"
            placeholder="Select program end date"
            [(ngModel)]="educationData.educationDetails[0].endDate"
            (ngModelChange)="onInputChange($event, 'endDate')" 
            [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
         </div>

          <div>
             <label class="block w-40">Start Date</label>
            <input
            type="date"
            name="Startdate1"
            placeholder="select program start date"
            [(ngModel)]="educationData.educationDetails[1].startDate"
            (ngModelChange)="onInputChange($event, 'Startdate1')" 
            [disabled]="!editMode"
            class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
         </div>


<!-- 
  <div>

    <div class="">
    <p class="font-bold font-outfit text-[16px]">Docs</p>
    <p class="text-[#727A90] text-[12px] font-outfit w-80">Upload a scanned copy of the spouse's marriagecertificate.</p>
    </div>

   <div class="mb-10 mt-10">

    <div
  class="border-2 border-dashed border-blue-400 w-[1070px] h-[172px] p-6 rounded-md text-center cursor-pointer bg-[#F8FAFF]"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [ngClass]="{ 'bg-blue-50': isDragging }"
>
  <div class="flex justify-center">
  <img src="/upload.png" class="w-[42px] h-[42px] ">
  </div>
  <p class="text-gray-500 text-sm mt-2">Drag your file(s) and start uploading</p>

    <div class="flex items-center justify-center my-1">
  <div class="flex-gro w-20 h-px bg-gray-300"></div>
  <span class="px-4 text-gray-500 text-sm">OR</span>
  <div class="flex-gro w-20 h-px bg-gray-300"></div>
</div>

  <button (click)="fileInput.click()" class="text-sm border-2 rounded-lg w-[95px] h-[30px] my-1">Browse file</button>

  <input
    type="file"
    multiple
    (change)="onFileSelected($event)"
    #fileInput
    class="hidden"
  />
</div>



         <div *ngIf="selectedFiles.length > 0" class="mt-4 space-y-2">
  <div
    *ngFor="let file of selectedFiles; let i = index"
    class="flex items-center gap-4 border p-2 rounded-md justify-between lg:w-[1150px] lg:right-[26rem] relativ lg:top-[12rem]"
  >
    File Icon and Info
    <div class="flex items-center gap-4 ">
      Icon
      <div>
        <ng-container [ngSwitch]="getFileType(file)">
          <i *ngSwitchCase="'image'" class="text-blue-500">🖼️</i>
          <i *ngSwitchCase="'pdf'" class="text-red-500">📄</i>
          <i *ngSwitchCase="'word'" class="text-indigo-500">📘</i>
          <i *ngSwitchCase="'excel'" class="text-green-500">📗</i>
          <i *ngSwitchCase="'text'" class="text-gray-500">📑</i>
          <i *ngSwitchDefault class="text-gray-600">📁</i>
        </ng-container>
      </div>

      File Info
      <div>
        <p class="text-sm font-medium">{{ file.name }}</p>
        <p class="text-xs text-gray-500">{{ formatSize(file.size) }}</p>
      </div>
    </div>

    Cancel Button
    <button
      (click)="removeFile(i)"
      class="border-2 border-[#858585] text-[#858585] hover:text-gray-700 text-sm bg-gray-300 rounded-full w-[20px] h-[20px] "
      title="Remove File"
    >
      ✖
    </button>
  </div>
</div>

</div>
 </div> -->
       
    </form>
</div>
