<div>
    <div class="flex justify-between mx-4 relative top-10">
        <div class="flex items-center justify-center g-black rounded-full border-red-500 border w-12 h-12 ">
            <img src="/FrameE3.png" class="w-[26.53px] h-[25.81] ">
        </div>
        <div>
           <button (click)="login()" class="bg-[#0B1D2E] w-[127px] h-[48px] rounded-[10px] text-white">Login</button>
        </div>
    </div>


    <div>
        <img src="/Rectangle.png" class="mt-[-rem] h-[43rem] w-full">
    </div>
</div>