<div>

      <div class="flex justify-between items-center bg-[#FAFAFA] border border-[#DCDEE3] w-full [1385px]  h-[72px] px-4 mt-4">

            <div class="flex gap-6">
            <div class="">
                <button (click)="goBack()" class="bg-[#EFF0F3] w-[40px] h-[40px] rounded-[10px] p-[10px]">
                    <img src="/Backarrow.png">
                </button> 
            </div>
            <div class="mt-2 font-bold">
                Add New Staff
            </div>

            </div>

            <div>
                <button class="bg-gradient-to-b from-[#4393FF] to-[#5FA3FF] w-[78px] h-[40px] rounded-[10px] text-white">Next</button>
            </div>
            
      </div>


    <!-- Static Sidebar -->
<div class="w-64 h-full bg-white text-black gray-800 text-whit fixed top-70 left-0 shadow-lg mx-6">
  <!-- <div class="p-4 text-xl font-bold border-b border-gray-700">
    My App
  </div> -->

  <ul class="mt-10">
    <li class="px-4 py-2 hover:bg-gray-700">
      <a routerLink="/person-information">Personal Information</a>
    </li>
    <li class="px-4 py-2 hover:bg-gray-700">
      <a routerLink="/employment-details">Employment Details</a>
    </li>
    <li class="px-4 py-2 hover:bg-gray-700">
      <a routerLink="/family-details">Family Details</a>
    </li>
     <li class="px-4 py-2 hover:bg-gray-700">
      <a routerLink="/next-of-kins">Next of kin Details</a>
    </li>
     <li class="px-4 py-2 hover:bg-gray-700">
      <a routerLink="/">Emengency Contact</a>
    </li>
     <li class="px-4 py-2 hover:bg-gray-700">
      <a routerLink="/settings">Education Details</a>
    </li>
  </ul>
</div>


    <div>
        <router-outlet></router-outlet>
    </div>
    
</div>

