 <!-- Table -->
  <div class="lg:mt-10 mt-20 ">

    <div class="flex justify-end mx-20">
      <button (click)="addNavigate(APIData._id)" 
      class="bg-gradient-to-b from-[#4393FF] to-[#5FA3FF] w-[113px] h-[40px] rounded-[6px] text-white text-[14px] ">
        <span class="text-[14px]">+</span>
        Add Staff
      </button>
    </div>

    <div class="verflo mt-10">
      <table class="w-full table-aut text-[#353535]" id="Data">
        <thead class="bg-gray-100 text-left">
          <tr>
            <th class="px-4 py-2">
              <div class="flex items-center space-x-2">
                <div class="border-2 border-[#C0C4CE] w-5 h-5 rounded-md"></div>
                <span>Staff id</span>
              </div>
            </th>
            <th class="px- py-2">Full name</th>
            <th class="px- py-">Employment type</th>
            <th class="px- py-2">Gender</th>
            <th class="px- py-2">Unit</th>
            <th class="px- py-2">BirthDay</th>
            <th class="px- py-2">Status</th>
            <th class="px- py-2">Action</th>
          </tr>
        </thead>
        <tbody class="">
          <tr class="border-b border-gray-200" *ngFor="let item of APIData; ">
            <td class="px-4 py-2">
              <div class="flex items-center space-x-2">
                <div class="border-2 border-[#C0C4CE] w-5 h-5 rounded-md"></div>
                <span>{{ item.staffId }}</span>
              </div>
            </td>
            <td class="flex gap-2 px- py-2">
              <div>
               <img 
            [src]="APIData.profilePicture || '/Preview.png'" 
            alt="Profile Preview"
            class="w-[42px] h-[42px] rounded-full object-cover border"
          />
          </div>
           <div class="flex items-center">
              {{ item.firstName }} {{ item.lastName }}
           </div>
            </td>

            <td class="px- py-2">{{ item.employmentType }}</td>
            <td class="px- py-2">{{ item.gender }}</td>
            <td class="px- py-2">{{ item.unit?.name }}</td>
            <td class="px- py-2">{{ item.dateOfBirth | date: 'yyyy-MM-dd'  }}</td>
            
            <td class="px- py-2">
               <div 
                class="rounded px-3 py-1 text-xs w-fi text-center"
                [ngClass]="{
                  'bg-[#15C12924] border-[2px] border-[#26AB5B5c] text-[#26AB5B] w-[72px] h-[31px] rounded-lg': item.employmentStatus === 'Onduty',
                   'bg-[#FFBF4024] border-2 border-[#FFBF405c] text-[#FFBF40] w-[70px] h-[30px] rounded-[8px]': item.employmentStatus === 'Onleave'
                }"
              >
                {{ item.employmentStatus}} 
              </div> 
          </td>

        
        <td class="p-2 flex gap-2">
          <button (click)="navigate(item._id)" nz-button nzType="primary"  class="text-blue-600">
          <span class="material-symbols-outlined">stylus_note</span>
          </button>

         <button nz-button nzType="default" class="text-red-600">
          <span   class="material-symbols-outlined">delete</span>
         </button>

        </td> 
         </tr>
        </tbody>
      </table>
    </div>
