
<div class="flex justify-end gap-4 col-span-3 relative md:left-[4.5rem] left-[5.2rem] top-[-6rem] md:top-[-5.5rem] mx-20">
  <button
    type="button"
    *ngIf="!editMode"
    (click)="onEditToggle()"
    class="flex justify-center bg-blue- border border-[#727A90] text-[14px] text-[#727A90] w-[69.65px] h-[40px] py-2 rounded-[10px] hover:bg-gray-400 hover:text-white transition"
  >
     <span class="material-symbols-outlined text-[20px]">edit</span>Edit
  </button>

  <!-- Save and cancel -->

       <ng-container *ngIf="isLoading">
  <div class="mt-6 flex justify-center relative top-[-15px]">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</ng-container>

  <ng-container *ngIf="editMode">
    <button
      type="button"
      (click)="onSubmit(staffForm)"
      
      class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition"
    >
      Save
    </button>
  
    <button
      type="button"
      (click)="onCancel()"
      class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition"
    >
      Cancel
    </button>
  </ng-container>
  </div>




<div class="[17rem] lg:mt-0 mt-20 ">


  <!-- Edit button -->




    <div class="">
        <p class="font-bold font-outfit w-60">Employment Details</p>
        <p class="text-[#727A90] text-[12px] w-60">Official job Information</p>
    </div>


                              <!-- FORM -->
    <form #staffForm="ngForm"   (ngSubmit)="onSubmit(staffForm)" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-2  gap-10 p-6 bg-white rounded gap-y-6 mt-10">
  <!-- Row 1 -->
   
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Job Title</label>
    <input  
    type="text" 
    name="jobTitle" 
   (ngModelChange)="onInputChange()"
    [disabled]="!editMode" 
    [(ngModel)]="employeeData.supervisor.jobTitle" 
     
    placeholder="Enter legal first name" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>
  
   
<div>
  <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Unit</label>
  <select
    name="unitId"
    (ngModelChange)="onInputChange()"
    [(ngModel)]="form.units"
    [disabled]="!editMode"
    [(ngModel)]="employeeData.jobTitle" 
    
    required
    class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
  >
    <option [ngValue]="null" disabled selected>Select a unit</option>
    <option *ngFor="let item of units" [ngValue]="item._id">
      {{ item.name }}
    </option>
  </select>
</div>


  <!-- Row 2 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Employment Type</label>
    <input 
    type="text" 
    name="employmentType" 
    [disabled]="!editMode" 
    [(ngModel)]="employeeData.employmentType" 
   
    
    placeholder="Select birth date" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Hire Date</label>
    <input 
    type="date" 
    name="gender" 
    [disabled]="!editMode" 
    [(ngModel)]="formattedDOB" 
    
    placeholder="Hired Date" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>
  

  <!-- Row 3 -->
  <div>
     <label class="block w-40 text-sm font-medium text-gray-700">Work Location</label>
    <input 
    type="text" 
    name="workLocation" 
    [disabled]="!editMode" 
    
    [(ngModel)]="employeeData.workLocation" 
    
    placeholder="Select marital status" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/> 
  </div>
 
  <div>
  <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Supervisor</label>
  <select
  name="supervisorId"
  [(ngModel)]="form.supervisor"
  [disabled]="!editMode"
  [(ngModel)]="employeeData.jobTitle"
  
  required
  class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
>
  <option [ngValue]="null" disabled selected>Select a supervisor</option>
  <option *ngFor="let item of supervisor" [ngValue]="item._id">
    {{ item.firstName }} {{ item.lastName }}
  </option>
</select>
</div>

</form>
</div>