<div>
<div class="navigation-buttons relative top-[-3rem] lg:top-0 flex justify-end gap-4 mx-6 [4.2rem]">
  <button 
  type="button" 
  *ngIf="!isFirstStep" 
  (click)="goPrev()"  
  class=" border-2 border-[#727A90] w-[88px] h-[40px] rounded-[10px] text-[14px] hover:bg-gray-300">
    Previous
  </button>

  <button type="button" *ngIf="!isLastStep" (click)="goNext()"  class=" bg-gradient-to-b from-[#4393FF] to-[#5FA3FF] text-white w-[88px] h-[40px] rounded-[10px] text-[14px]">Next</button>

</div>



<div class="mt-24 mx-16 md:mx-0">

    <div class="">
        <p class="font-bold font-outfit w-60">Employment Details</p>
        <p class="text-[#727A90] text-[12px] w-60">Official job Information</p>
    </div>


                              <!-- FORM -->
    <form #staffForm="ngForm" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-2 gap-[2rem] bg-white rounded gap-y-6 lg:gap-x-0 mt-10">
               
                           <!-- Row 1 -->
    <div>
    <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Job Title</label>
    <input
     type="text" 
     name="jobTitle" 
     (ngModelChange)="onInputChange()"
     [(ngModel)]="formData['jobTitle']"  
     placeholder="Enter job title" 
     class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>
 

<!-- <div>
  <label class="block mb-1 text-sm font-medium text-gray-700">Unit</label>
  <select
    name="unitId"
    [(ngModel)]="formsData.unitId"
    required
    class="border border-gray-300 w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
  >
    <option value="" disabled selected>Select a unit</option>
    <option *ngFor="let unit of units " [value]="unit._id">
      {{ unit.name }}
    </option>
  </select>
</div> -->
  <!-- <nz-form-item>
      <label for="supervisor" class="block text-[#000000] text-[10px] md:text-[12px] lg:text-[13px] font-[500]"
        >Unit
    </label>
      <ng-select [multiple]="true"  placeholder="Selected Supervisor" [(ngModel)]="selectedUnit.unit" name="supervisor"
      style="color: #888888; border-radius: 10px; width: 100%;" class=" focus:outline-none focus:outline-sky-600 focus:border-sky-600"
      class="custom-ng-select">
        @for (staff of unitData; track staff) {
          <ng-option [value]="staff._id">
          {{ staff?.name }} 
          </ng-option>
        }
      </ng-select> 
   </nz-form-item> -->

  <div>
  <nz-form-item>
  <label
    for="unit"
    class="block text-[#000000] text-[10px] md:text-[12px] lg:text-[13px] font-[500] mb-1"
  >
    Unit
  </label>

  <ng-select
    [items]="unitData"
    bindLabel="name"
    bindValue="_id"
    [multiple]="true"
    [(ngModel)]="formData['unit']"
    name="unit"
    (ngModelChange)="onInputChange()"
    placeholder="Select unit(s)"
    style="width: 311px;"
  >
    <ng-template ng-label-tmp let-item="item">
      {{ item.name }}
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
      {{ item.name }}
    </ng-template>
  </ng-select>
</nz-form-item>
</div>




<div>
  <nz-form-item>
      <label for="supervisor" class="block text-[#000000] text-[10px] md:text-[12px] lg:text-[13px] font-[500]"
        >Supervisor
    </label>
      <ng-select [multiple]="true"  placeholder="Selected Supervisor" 
      [(ngModel)]="formData['supervisor']"
      (ngModelChange)="onInputChange()" 
      name="supervisor"
      style="color: #888888; border-radius: 10px; width: 311px;" class=" focus:outline-none focus:outline-sky-600 focus:border-sky-600"
      class="custom-ng-select">
        @for (staff of staffs; track staff._id) {
          <ng-option [value]="staff._id">
          {{ staff?.firstName }} {{ staff?.lastName }}
          </ng-option>
        }
      </ng-select> 
   </nz-form-item>
  </div>
 

   




                             <!-- Row 2 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Employment Type</label>
    <input 
    type="text" 
    name="employmentType" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['employmentType']" 
    placeholder="Full-time, Part-time, Contract" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>

  <div class="-mt-6 md:mt-0">
    <label class="block w-40 text-sm font-medium text-gray-700">Hire Date</label>
    <input 
    type="date" 
    name="hireDate" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['hireDate']" 
    placeholder="Select date" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>
  

                                <!-- Row 3 -->
  <div class="-mt-5 md:mt-0">
     <label class="block w-40 text-sm font-medium text-gray-700">Work Location</label>
    <input 
    type="text" 
    name="maritalStatus" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['workLocation']" 
    placeholder="Remote, Onsite, Hybrid" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/> 
  </div>

 
 
   <div>
  <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Select role</label>
  <select
    name="staffId"
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['staffId']"
    required
    class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
  >
     <option value="" disabled selected>Select role</option>
    <option *ngFor="let role of roles" [value]="role._id">
      {{ role.name }}
    </option>
  </select>
</div>

 <div></div>
 <div></div>
 <div></div>
 
 <!-- bindValue="_id" -->



  

   <div class="mb-4 space-y-6 relative lg:right-[23rem]">
    
     <div>

    <div class="">
    <p class="font-bold font-outfit text-[16px]">Docs</p>
    <p class="text-[#727A90] text-[12px] font-outfit w-80">Upload a scanned copy of the spouse's marriagecertificate.</p>
    </div>

   <div class="mb-10 mt-10 ">

         <div
  class="border-2 border-dashed border-blue-400 w-[45rem] lg:w-[1080px] h-[172px] p-6 rounded-md text-center cursor-pointer bg-[#F8FAFF]"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [ngClass]="{ 'bg-blue-50': isDragging }"
>
  <div class="flex justify-center">
  <img src="/upload.png" class="w-[42px] h-[42px] ">
  </div>
  <p class="text-gray-500 text-sm mt-2">Drag your file(s) and start uploading</p>

    <div class="flex items-center justify-center my-1">
  <div class="flex-gro w-20 h-px bg-gray-300"></div>
  <span class="px-4 text-gray-500 text-sm">OR</span>
  <div class="flex-gro w-20 h-px bg-gray-300"></div>
  </div>


  <button (click)="fileInput.click()" class="text-sm border-2 rounded-lg w-[95px] h-[30px] my-1">Browse file</button>

  <input
    type="file"
     directory
    multiple
    (change)="onFileSelected($event)"
    #fileInput
    class="hidden"
  />
</div>


   <div *ngIf="selectedFiles.length > 0" class="mt-4 space-y-2">
  <div
    *ngFor="let file of selectedFiles; let i = index"
    class="flex items-center gap-4 border p-2 rounded-md justify-between lg:w-[1150px] lg:right-[26rem] relativ lg:top-[12rem]"
  >
    <!-- File Icon and Info -->
    <div class="flex items-center gap-4 ">
      <!-- Icon -->
      <div>
        <ng-container [ngSwitch]="getFileType(file)">
          <i *ngSwitchCase="'image'" class="text-blue-500">🖼️</i>
          <i *ngSwitchCase="'pdf'" class="text-red-500">📄</i>
          <i *ngSwitchCase="'word'" class="text-indigo-500">📘</i>
          <i *ngSwitchCase="'excel'" class="text-green-500">📗</i>
          <i *ngSwitchCase="'text'" class="text-gray-500">📑</i>
          <i *ngSwitchDefault class="text-gray-600">📁</i>
        </ng-container>
      </div>

      <!-- File Info -->
      <div>
        <p class="text-sm font-medium">{{ file.name }}</p>
        <p class="text-xs text-gray-500">{{ formatSize(file.size) }}</p>
      </div>
    </div>

    <!-- Cancel Button -->
    <button
      (click)="removeFile(i)"
      class="border-2 border-[#858585] text-[#858585] hover:text-gray-700 text-[10px] bg-gray-300 rounded-full w-[20px] h-[20px] "
      title="Remove File"
    >
      ✖
    </button>
  </div>
</div>
</div>
</div>
</div>



</form>
</div> 
</div>


















 
<!-- <div>
     <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Unit</label>
  <select
    [(ngModel)]="formsData.unitId"
    name="supervisor"
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" 
    required
  >
    <option [ngValue]="null" disabled selected>Select job title</option>
    <option *ngFor="let unit of units" [value]="unit">
      {{ unit.unit.name }}
      </option>
   
  </select>
</div> -->



<!-- worked code -->
   <!-- <div>
  <label class="block w-40 text-sm font-medium text-gray-700 font-outfit">Job title</label>
  <select
    name="jobTitle"
    [(ngModel)]="formData.jobTitle"
    required
    class="border border-[#D7D7D7] w-[311px] h-[45px] rounded bg-[#F2F2F2] px-3"
  >
    <option [ngValue]="null" disabled selected>Select job title</option>
    <option *ngFor="let title of jobTitles" [value]="title">
      {{ title }}
    </option>
  </select>
</div>
-->