 <div class="">
 <div class="flex justify-between mx-4 mt-4">
        <div class="flex items-center justify-center g-black rounded-full border-red-500 border w-12 h-12 ">
            <img src="/FrameE3.png" class="w-[26.53px] h-[25.81] ">
        </div>
        <div>
           <button (click)="login()" class="bg-[#0B1D2E] w-[127px] h-[48px] rounded-[10px] text-white">Login</button>
        </div>
    </div>


   <div class="relative top-[18rem]">
    <div class="bg-[url('/homePage1.png')] bg-cover bg-no-repeat bg-center mt- [15rem] h-[30rem]">


      
    <div class="text-center relative top-[-17rem] ">
        <p class="text-[5rem] font-semibold">All Your Working Tools,</p>
        <p class="text-[#888888] text-[5rem] font-semibold -mt-9">Just a Tap Away</p>
        <p class="text-sm">We bring your tools together, so you can focus on getting things done</p>
    </div>


    </div>          
</div>