<div class="flex flex-col justify-center items-center t-[-190px] relative top-[-220px] mb-[-30px] z-10 ">
    
    <div>
        <img src="/FrameE.png">
    </div>

    <div class="text-[24.45px] text-[#2A343A] font-bold">
        Reset Your Password
    </div>

    <small class="text-[#7C7C7C]">
        Create a new passwordto secure your Account.
    </small>


    <div >
<form #form="ngForm" (ngSubmit)="submit()">
    <div class="mt-">
    <label for="email" class="text-[#7C7C7C] mt-3 block text-[15px]">New Password</label>
    <input
     id="email"
     [type]="onShow ? 'text' : 'password'"
      type="email"
      name="email"
      [(ngModel)]="payload.newPassword"
      #emailField="ngModel"
      required
      placeholder="Example@email.com"
      class="text-[#7C7C7C] border-2 border-[#D7D7D7] bg-[#F2F2F2] w-[350px] lg:w-[612px] h-[55px] rounded-[10px] mt-1 px-5"
    />
    <div *ngIf="emailField.errors?.['required'] && emailField.touched" class="text-red-500">
        password is required.
      </div>

    
      <div *ngIf="emailField.errors?.['email'] && !emailField.errors?.['required'] && emailField.touched">
        Enter a valid password.
      </div>

      <div class="relative right-6">
        <button type="button" (click)="onShow = !onShow" class="absolute right-2 top-[-38px] text-gray-500 ">
          <img *ngIf="!onShow" src="/invisible.png"  class="w-5 h-5" />
          <img *ngIf="onShow" src="/visible.png" class="w-5 h-5" />
        </button>
      </div>
  
  </div>
  
     <div class="mt-6">
    <label for="password" class="text-[#7C7C7C] mt-3 block text-[15px]">confirm Password:</label>
    <input
      id="password"
      [type]="show ? 'text' : 'password'"
      type="password"
      name="password"
      [(ngModel)]="payload.confirmPassword"
      #passwordField="ngModel"
      required
      placeholder="****************"
      class="text-[#7C7C7C] border-2 border-[#D7D7D7] bg-[#F2F2F2] w-[350px] lg:w-[612px] h-[55px] rounded-[10px] mt-1 px-5"
    />
    <div *ngIf="passwordField.errors?.['required'] && passwordField.touched" class="text-red-500">
        password is required.
      </div>
    
      <div *ngIf="passwordField.errors?.['email'] && !passwordField.errors?.['required'] && passwordField.touched">
        Enter a valid password.
      </div>

      <div class="relative right-6">
        <button type="button" (click)="show = !show" class="absolute right-2 top-[-38px] text-gray-500 ">
          <img *ngIf="!show" src="/invisible.png"  class="w-5 h-5" />
          <img *ngIf="show" src="/visible.png" class="w-5 h-5" />
        </button>
      </div>
  </div>

  <div class="relative top-[12px]">
  <button
  type="submit"
  class="font-semibold font-outfit bg-[linear-gradient(to_right,_#5FA3FF,_#4393FF)] text-white y text-[16px] px-4 h-[55px] rounded-[10px] mt-6 w-full"
>
Login with email
</button>
</div>

  </form>
</div>
</div>