<div class="">

<div class=" flex justify-between items-center  bg-[#FAFAFA] border border-[#DCDEE3] w-full [1385px] h-[72px] px-4 mt-4">      


<!-- <button *ngIf="!(editService.editMode$ | async)" (click)="toggleEdit()">Edit</button>

<button *ngIf="editService.editMode$ | async" (click)="cancelEdit()">Cancel</button>  -->


       <!-- <button (click)="onToggleEdit()">
    {{ (editService.editMode$ | async) ? 'Save' : 'Edit' }}
    </button> 

     <button *ngIf="editService.editMode$ | async" (click)="reset()"  class="relative z-50 bg-red-500 text-white px-4 py-2">
      Cancel
    </button> -->


            <div class="flex gap-6">
            <div class="">
                <button (click)="goBack()" class="bg-[#EFF0F3] w-[40px] h-[40px] rounded-[10px] p-[10px]">
                    <img src="/Backarrow.png">
                </button> 
            </div>
            <div class="mt-2 font-bold">
                Add New Staff
            </div>
            </div>



<!-- <div class="to-[-6re] py-[-30rem] flex gap-4 justify-end col-span-3 relative right-16  lg:lef-40 lg:to-[-9rem]">
  <button
    type="button"
    (click)="onEdit()"
    class="flex justify-center bg-blue- border border-[#727A90] text-[14px] text-[#727A90] w-[69.65px] h-[40px] py-2 rounded-[10px] hover:bg-gray-400 hover:text-white transition"
  >
     <span class="material-symbols-outlined text-[20px]">edit</span>Edit
  </button> 

   Save and cancel 

  <ng-container>
    <button
      type="button"
      (click)="onSave()"
      class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition"
    >
      Save
    </button>
  
     <button
     type="button"
     (click)="onCancel()"
      class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition"
    >
      Cancel
    </button> 
  </ng-container>
  </div> -->

                 <!-- <button
                  *ngIf="currentStepIndex > 0"
                  (click)="goToPrev()"
                  class="border border-[#727A90] w-[78px] h-[40px] rounded-[10px] text-[#727A90] text-[14px]">
                  Previous
                </button>

                <button
                 (click)="goToNext()"
                 [disabled]="currentStepIndex === steps.length - 1"
                 class="bg-gradient-to-b from-[#4393FF] to-[#5FA3FF] w-[78px] h-[40px] rounded-[10px] text-white">
                 Next
                </button> -->
            
      </div>


<!-- ✅ Mobile Toggle Button (Only shows on small screens) -->
 
<button
type="button"
  class="md:hidden relative top-4  bg-gray-800 text-white px-3 py-2 rounded"
  (click)="isSidebarOpen  = !isSidebarOpen"
>
  ☰
</button>


<!-- Sidebar Responsive -->
<ul
 [ngClass]="{
  'hidden': !isSidebarOpen,
  'block': isSidebarOpen
}"
  class="fixed z-10 mx-10 left-0 top-[17rem]  w-60 text-white bg-gray-800 lg:h-screen lg:bg-white lg:text-black shadow p-4
         md:block md:static md:h-auto md:top-0 md:z-auto"
>
  <li
    *ngFor="let step of steps"
    class="px-4 py-2 relative lg:top-14 hover:bg-gray-700 hover:text-white w-full mt-"
  >
    <label class="relative flex items-center cursor-pointer">
      <input
        type="checkbox"
        [checked]="isCheckedMap[step]"
        class="peer hidden"
      />
      <div

        class="w-5 h-5 rounded-full border-2 border-dotted border-[#D4D4D8] peer-checked:bg-green-500 flex items-center justify-center"
      >
        <svg
          *ngIf="isCheckedMap[step]"
          xmlns="http://www.w3.org/2000/svg"
          class="h-3 w-3 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
            d="M5 13l4 4L19 7"
          />
        </svg>
      </div>
      <a
        [routerLink]="[step]"
        [queryParamsHandling]="'preserve'"
        class="ml-2 capitalize"
        (click)="isSidebarOpen = false"
      >
        {{ step.replace('-', ' ') }}
      </a>
    </label>
  </li>
</ul>


<!-- <div class="lg:mt-[-14rem] overflow-hidden lg:overflow-visible"> -->
        <router-outlet></router-outlet>
    <!-- </div> -->
    
</div> 




















<!-- <div class="flex justify-between items-center bg-[#FAFAFA] border border-[#DCDEE3] w-full [1385px]  h-[72px] px-4 mt-4">
            <div class="flex gap-6">
            <div class="">
                <button (click)="goBack()" class="bg-[#EFF0F3] w-[40px] h-[40px] rounded-[10px] p-[10px]">
                    <img src="/Backarrow.png">
                </button> 
            </div>
            <div class="mt-2 font-bold">
                Add New Staff
            </div>

            </div>


            <div class="flex gap-4">
                 <button
                  *ngIf="currentStepIndex > 0"
                  (click)="goToPrev()"
                  class="border border-[#727A90] w-[78px] h-[40px] rounded-[10px] text-[#727A90] text-[14px]">
                  Previous
                </button>

                <button
                 (click)="goToNext()"
                 [disabled]="currentStepIndex === steps.length - 1"
                 class="bg-gradient-to-b from-[#4393FF] to-[#5FA3FF] w-[78px] h-[40px] rounded-[10px] text-white">
                 Next
                </button>
            </div> 
      </div> -->


             <!-- MOBILE MENU BUTTON -->
             <!-- <button
        class="md:hidden text-black p-2 focus:outline-none"
        aria-label="Open Menu"
         (click)="toggleMobileMenu()"
      >
       
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button> -->



 <!-- <ul class="w-60 relative top-16  md:">
<li *ngFor="let step of steps" class="px-4 py-2 hover:bg-gray-700 hover:text-white relative w-60 ">
  <label class="relative flex items-center cursor-pointer">
    <input
      type="checkbox"
      [checked]="isCheckedMap[step]"
      class="peer hidden"
    />
    <div
      class="w-5 h-5 rounded-full border-2 border-dotted border-[#D4D4D8] peer-checked:bg-green-500 flex items-center justify-center"
    >
      <svg
        *ngIf="isCheckedMap[step]"
        xmlns="http://www.w3.org/2000/svg"
        class="h-3 w-3 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
      </svg>

    </div>
    <a 
      [routerLink]="[step]"
      [queryParamsHandling]="'preserve'"
      class="ml-2 capitalize"
      routerLinkActive=" relative font-bold shadow shadow-black h-8 bg-gray-200 hover:text-whiite hover:bg-gray-700"
    >
      {{ step.replace('-', ' ') }}
    </a>
  </label>
</li>
</ul> -->
