
   <!-- <ng-container *ngIf="isLoading">
  <div class="mt-6 flex justify-center relative top-">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-container> -->



<div class="navigation-buttons mt-[-3rem] mx-10 md:mx-0 md:mt-6 flex justify-end gap-4 ">
  <button 
  type="button" 
  *ngIf="!isLastStep"  
  (click)="goNext()" 
  class=" bg-gradient-to-b from-[#4393FF] to-[#5FA3FF] text-white w-[88px] h-[40px] rounded-[10px] text-[14px]">Next</button>
</div>


 

  <div class="mt-60 mx-10 md:mx-0">

  <div >

    <div class="mt-[-9rem] ">
        <picture class="font-bold">Profile </picture>
        <p class="text-[#727A90] text-sm">The image will be displayed on their Profile</p>
    </div>

    <div class="flex items-start relative mt-10">
  <!-- Profile Image Container -->
  <div
    class="h-20 w-20 rounded-full overflow-hidden bg-gray-200 flex items-center justify-center cursor-pointer"
    (click)="fileInput.click()"
  >
    <img
      *ngIf="imagePreview; else fallbackImage"
      [src]="imagePreview"
      alt="Preview"
      class="h-full w-full object-cover"
    />

    <ng-template #fallbackImage>
      <img
        *ngIf="personalData?.profilePicture; else defaultImage"
        [src]="getSafeProfilePicture(personalData.profilePicture)"
        alt="Saved Image"
        class="h-full w-full object-cover"
      />
    </ng-template>

    <ng-template #defaultImage>
      <img
        src="/ProfilePic.png"
        alt="Default"
        class="h-full w-full object-cover"
      />
    </ng-template>

    <!-- Hidden file input -->
    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      #fileInput
      hidden
    />
  </div>

  <!-- Checkmark -->
  <div
    *ngIf="imagePreview"
    class="relative h-[21px] w-[21px] right-[18px] bottom-[-50px]"
  >
    <img
      src="/check.png"
      alt="Selected"
      class="h-full w-full object-cover"
    />
  </div>
</div>





      <form  #staff="ngForm" class="grid grid-cols-2 grid-row-2 mg:grid-cols-2 mg:grid-rows-6 lg:grid-cols-3 lg:grid-rows-4 mt-10 bg-white rounded gap-20 gap-y-6 md:gap-x-20 ">
  <!-- Row 1 --> 
  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">First Name</label>
    <input 
    type="text" 
    name="firstName" 
    [(ngModel)]="formData['firstName']" 
    (ngModelChange)="onInputChange()"
    placeholder="Enter legal first name" 
    required
    #firstName="ngModel"
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />

    <p *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)" class="text-red-600 text-sm">
      First name required
    </p>
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Last Name</label>
    <input 
    type="text" 
    name="lastName" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['lastName']" 
    placeholder="Enter legal last name" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>
 
    <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Other Name</label>
    <input 
    type="text" 
    name="otherName" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['otherName']"  
    placeholder="Enter if any" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>
 
 

  <!-- Row 2 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Date of birth</label>
    <input 
    type="text" 
    name="dateOfBirth"
    (ngModelChange)="onInputChange()" 
    [(ngModel)]="formData['dateOfBirth']"  
    placeholder="Select birth date" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Gender</label>
    <input 
    type="text" 
    name="gender" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['gender']"  
    placeholder="Chose gender" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Nationality</label>
    <input 
    type="text" 
    name="nationality" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['nationality']"  
    placeholder="Enter country of origin" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>


  <!-- Row 3 -->
  <div >
     <label class="block w-40 text-sm font-medium text-gray-700">Marital Status</label>
    <input 
    type="text" 
    name="maritalStatus" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['maritalStatus']"  
    placeholder="Select marital status" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Phone number</label>
    <input 
    type="text" 
    name="phoneNumber" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['phoneNumber']"  
    placeholder="Enter active phone number" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Enter email address</label>
    <input 
    type="text" 
    name="email" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['email']"  
    placeholder="Enter valid email address" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>


   <!-- Row 4 -->
  <div class="">
    <label class="block w-40 text-sm font-medium text-gray-700">ID Type</label>
    <input 
    type="text" 
    name="idType" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['idType']"  
    placeholder="Select ID type (e.g Nation ID, Passport)" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>

  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">ID Number</label>
    <input 
    type="text" 
    name="idNumber" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['idNumber']"  
    placeholder="Enter valid ID number" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">Email address</label>
    <input 
    type="text" 
    name="email" 
    (ngModelChange)="onInputChange()"
    [(ngModel)]="formData['email']"  
    placeholder="Enter valid email address"  
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>   

</form>
</div>





<!-- <div *ngFor="let staff of staffList" class="mb-6 border p-4 rounded shadow-sm">
  <p class="text-lg font-semibold">{{ staff.firstName }} {{ staff.lastName }}</p>

  QR Code
  <img
    *ngIf="staff.qrCode"
    [src]="staff.qrCode"
    alt="QR Code"
    class="w-40 h-40 mt-2 border rounded object-contain"
  />
</div> -->


<!-- </div>(ngModelChange)="onInputChange('nationality', $event)" -->

<!-- [(ngModel)]="staffData.phoneNumber" (ngModelChange)="onInputChange($event, '')" -->
