

<div class="navigation-buttons mt-[-3rem] mx-10 md:mx-0 md:mt-6 flex justify-end gap-4 ">
  <button type="button" *ngIf="!isLastStep"  (click)="goNext()" class=" bg-gradient-to-b from-[#4393FF] to-[#5FA3FF] text-white w-[88px] h-[40px] rounded-[10px] text-[14px]">Next</button>
</div>


 

  <div class="mt-60 mx-10 md:mx-0">

  <div >

    <div class="mt-[-9rem] ">
        <picture class="font-bold">Profile </picture>
        <p class="text-[#727A90] text-sm">The image will be displayed on their Profile</p>
    </div>

      <!-- Image Preview -->
     <div class="lg:col-span-2 flex flex-col items-cente mt-10">
      <div class="relative w-[90px] [167px] h-[90px] [167px] mb-2">
        <div class="border-[#4393FF] bg-[#4393FF1A] border rounded-full w-full h-full overflow-hidden fle items-center justify-center">
          <ng-container *ngIf="!imagePreview">
            <span class="text-gray-600 text-sm text-center ">No Image</span>
          </ng-container>
          <!-- <img
            *ngIf="staffData?.profilePicture"
            [src]="getSafeProfilePicture(staffData.profilePicture)"
            alt="Image Preview"
            class="object-cover w-full h-full rounded-full relative right-[19px]"
          /> -->
        <div class="-32 h-24 rounded-full overflow-hidden bg-gray-200 flex items-center justify-center mt-[-25px]">
          <img
            *ngIf="imagePreview; else savedImage"
            [src]="imagePreview"
            alt="Preview Image"
            class="h-full w-auto object-cover"
          />
          
          <ng-template #savedImage>
            <img
              *ngIf="staffData?.profilePicture"
              [src]="getSafeProfilePicture(staffData.profilePicture)"
              alt="Saved Image"
              class="h-full w-auto object-cover "
            />
          </ng-template>
        </div>


          </div>
        </div>

      <!-- Upload image -->
      <div>
        <input 
          type="file"
          id="fileInput"
          (change)="onFileSelected($event)"
          [disabled]="!editMode"
          class="hidden"
        />
        <!-- <label
          for="fileInput"
          class="text-sm bg-[#4393FF1A] text-[#4393FF] px-3 py-1 rounded cursor-pointer"
        >
          Upload Image
        </label> -->
      </div>

      <div class="mt-6">
       <p class="font-bold">Personal Information</p> 
        <p class="text-[#727A90] text-sm">Basic personaldetails of the staff</p>
      </div>
    </div>
  </div> 



      <form  #staff="ngForm" class="grid grid-cols-2 grid-row-2 mg:grid-cols-2 mg:grid-rows-6 lg:grid-cols-3 lg:grid-rows-4 mt-10 bg-white rounded gap-20 gap-y-6 md:gap-x-20 ">
  <!-- Row 1 --> 
  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">First Name</label>
    <input 
    type="text" 
    name="firstName" 
    [(ngModel)]="localPageData.firstName" 
    placeholder="Enter legal first name" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Last Name</label>
    <input 
    type="text" 
    name="lastName" 
    [(ngModel)]="localPageData.lastName" 
    placeholder="Enter legal last name" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Other Name</label>
    <input 
    type="text" 
    name="otherName" 
    [(ngModel)]="localPageData.otherName"  
    placeholder="Enter if any" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>
 
 

  <!-- Row 2 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Date of birth</label>
    <input 
    type="text" 
    name="dateOfBirth" 
    [(ngModel)]="localPageData.dateOfBirth"  
    placeholder="Select birth date" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Gender</label>
    <input 
    type="text" 
    name="gender" 
    [(ngModel)]="localPageData.gender"  
    placeholder="Chose gender" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Nationality</label>
    <input 
    type="text" 
    name="nationality" 
    [(ngModel)]="localPageData.nationality"  
    placeholder="Enter country of origin" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>


  <!-- Row 3 -->
  <div >
     <label class="block w-40 text-sm font-medium text-gray-700">Marital Status</label>
    <input 
    type="text" 
    name="maritalStatus" 
    [(ngModel)]="localPageData.maritalStatus"  
    placeholder="Select marital status" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Phone number</label>
    <input 
    type="text" 
    name="phoneNumber" 
    [(ngModel)]="localPageData.phoneNumber"  
    placeholder="Enter active phone number" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Enter email address</label>
    <input 
    type="text" 
    name="email" 
    [(ngModel)]="localPageData.email"  
    placeholder="Enter valid email address" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>


   <!-- Row 4 -->
  <div class="">
    <label class="block w-40 text-sm font-medium text-gray-700">ID Type</label>
    <input 
    type="text" 
    name="idType" 
    [(ngModel)]="localPageData.idType"  
    placeholder="Select ID type (e.g Nation ID, Passport)" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>

  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">ID Number</label>
    <input 
    type="text" 
    name="idNumber" 
    [(ngModel)]="localPageData.idNumber"  
    placeholder="Enter valid ID number" 
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">Email address</label>
    <input 
    type="text" 
    name="email" 
    [(ngModel)]="localPageData.email"  
    placeholder="Enter valid email address"  
    class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

</form>
</div>


<!-- </div>(ngModelChange)="onInputChange('nationality', $event)" -->

<!-- [(ngModel)]="staffData.phoneNumber" (ngModelChange)="onInputChange($event, '')" -->
