/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

 @import "@ng-select/ng-select/themes/default.theme.css";


// /* Show and center only when there's a notice */
//  .ant-notification-topRight .ant-notification-notice {
//   display: block !important;
//   position: fixed !important;
//   top: 24px !important;
//   left: 50% !important;
//   transform: translateX(-50%) !important;
//   min-width: 300px;
//   background-color: #f0fdf4;
//   border-left: 4px solid #10b981;
//   padding: 16px;
//   border-radius: 8px;
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
// }

// .ant-notification-close-icon {
//   display: block !important;
// }






.ant-notification-topRight .ant-notification-close-icon {
  position: relative !important;
  top: -68px !important;
  left: 95% !important;
  right: auto !important;


  background-color: #f0f0f0 !important;    
  border: 1px solid #ccc !important;        
  border-radius: 50% !important;          
  padding: 4px !important;                 
  width: 25px !important;
  height: 25px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 12px !important;
  color: #333 !important;
  cursor: pointer;
  transition: background-color 0.2s;
}




.ant-notification-topRight .ant-notification-notice {
    background: white;
    border-color: black !important;
    border: 4px;
  border-radius: 8px !important;
  padding: 16px;
  box-shadow: 0 4px 14px rgb(70, 70, 70);
  position: fixed;
  left: 40%;
  width: 20%;
}

.ant-notification-topRight .ant-notification-notice-success {
  background-color: #e6fffb !important;
  border-left: 4px solid #36cfc9;
}


.ant-notification-topRight .ant-notification-notice-error {
  background-color: #fff1f0 !important;
  border-left: 4px solid #ff4d4f;
}


.ant-notification-topRight .ant-notification-notice-info {
  background-color: #e6f7ff;
  border-left: 4px solid #1890ff;
}

.ant-notification-topRight .ant-notification-notice-warning {
  background-color: #fffbe6;
  border-left: 4px solid #faad14;
}

.ant-notification-topRight .ant-notification-notice-message {
  font-weight: bold;
}

.ant-notification-topRight .ant-notification-notice-description {
  color: #595959;
}