<div class=" lg:w-[69rem]">
  
      <ng-container *ngIf="isAPILoading">
    <div class="flex justify-center right-[40rem] absolute top-[26rem] z-10">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-container>



 

<!-- Edit button -->
<div class="py-[-30rem] flex gap-4 justify-end relative  lg:left-[-3.3rem] left-[0.6rem] top-[-5.5rem] md:top-[-5.5rem] ">
  <button
    type="button"
    *ngIf="!editMode"
    (click)="onEditToggle()"
    class="flex justify-center border border-[#727A90] text-[14px] text-[#727A90] w-[69.65px] h-[40px] py-2 rounded-[10px] hover:bg-gray-400 hover:text-white transition"
  >
     <span class="material-symbols-outlined text-[20px]">edit</span>Edit
  </button> 


              <!-- Save and cancel  -->
       <ng-container *ngIf="isLoading">
      <div class="mt-6 flex justify-center relative top-[-15px]">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
    </ng-container>

  <ng-container *ngIf="editMode">
    <button
      type="button"
      (click)="Submit(staffForm)"
      class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition"
    >
      Save
    </button>
  
     <button
      type="button"
      (click)="onCancel()"
      class=" bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition"
    >
      Cancel
    </button> 
  </ng-container>
  </div>


              <!-- QRcode image -->
       <div class="flex justify-end relative top-[-3rem] md:mx-20">
    <img src="/QRCode.png" class="w-[83px] h-[86px]"> 
    </div>


  
      <div class="mt- md:mt-[-6.5rem] relative">
    
    <div class="flex">

      <!-- Image Preview -->
     <div class="lg:col-span-2 flex flex-col items-cente mt-10">
      <div class="relative w-[90px] [167px] h-[90px] [167px] mb-2">
        <!-- <div lass="border-[#4393FF] bg-[#4393FF1A] border rounded-full w-full h-full overflow-hidden fle items-center justify-center"> -->
          <ng-container *ngIf="!imagePreview">
            <!-- <span class="text-gray-600 text-sm text-center ">No Image</span> -->
          </ng-container>
         
        <div class="-32 h-24 rounded-full overflow-hidden bg-gray-200 flex items-center justify-center mt-[-25px]">
         
          <!-- <img src="/Preview.png"> -->
       
          <img
            *ngIf="staffData"
            [src]="isValidUrl(staffData.profilePicture) ? staffData.profilePicture : '/Preview.png'"
            alt="Profile Picture"
            class="w-[120px] h-[120px] rounded-full object-cover border"
          />


          
          <ng-template #savedImage>
            <img
              *ngIf="staffData?.profilePicture"
              [src]="getSafeProfilePicture(staffData.profilePicture)"
              alt="Saved Image"
              class="h-full w-auto object-cover "
            />
          </ng-template>
        </div>
        </div>
        </div>
    <!-- </div> -->
 

  
      <div class="mt-6 mx-10 space-y-2">
       <p class="font-semibold text-[#686868] font-outfit text-14px">
        {{staffData?.firstName}} {{staffData?.lastName}}
      </p>
       <p class="bg-[#00765E17] text-[#00765E] font-bold text-[8.92px]">
        {{staffData?.supervisor?.jobTitle}}
      </p>
       <p class="flex justify-center items-center bg-[#15C12924] text-[#26AB5B] text-[6.87px] rounded-[4.23px] w-[37.69px] h-[15.46px] border-2 border-[#26AB5B5C]">
        {{staffData?.employmentStatus}}
      </p>
      </div>
    </div>




      <form *ngIf="staffData" #staffForm="ngForm" (ngSubmit)="Submit(staffForm)" class="grid grid-cols-2 grid-row-2 mg:grid-cols-2 mg:grid-rows-6 lg:grid-cols-3 lg:grid-rows-4 mt-10 bg-white rounded gap-y-6 gap-x-28 md:gap-x-0">
  <!-- Row 1 --> 
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">First Name</label>
    <input type="text" name="firstName" #firstName="ngModel" required [disabled]="!editMode" [(ngModel)]="staffData.firstName"  (ngModelChange)="onInputChange()"  placeholder="Enter legal first name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />

    <p *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)" class="text-red-600 text-sm">
      First name required
    </p>
  </div>
  
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Last Name</label>
    <input type="text" name="lastName" #lastName="ngModel" required [disabled]="!editMode"  [(ngModel)]="staffData.lastName"  (ngModelChange)="onInputChange()"   placeholder="Enter legal last name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />

    <p *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)" class="text-red-600 text-sm">
      Last name required
    </p>
  </div>
  
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Other Name</label>
    <input type="text" name="otherName" #otherName="ngModel" required [disabled]="!editMode"  [(ngModel)]="staffData.otherName" (ngModelChange)="onInputChange()" placeholder="Enter if any" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />

     <p *ngIf="otherName.invalid && (otherName.touched || otherName.dirty)" class="text-red-600 text-sm">
      Other name required
    </p>
  </div>
 
 

  <!-- Row 2 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Date of birth</label>
    <input type="text" name="dateOfBirth" #dateOfBirth="ngModel" required [disabled]="!editMode"  [(ngModel)]="formattedDOB" (ngModelChange)="onInputChange()" placeholder="Select birth date" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />

     <p *ngIf="dateOfBirth.invalid && (dateOfBirth.touched || dateOfBirth.dirty)" class="text-red-600 text-sm">
      Date of birth required
    </p>
  </div>


  <div>
    <select
  name="gender"

  [(ngModel)]="staffData.gender"
   [disabled]="!editMode"
   #genderModel="ngModel"
  required
  class="relative top-4 border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
>
  <option [ngValue]="null" disabled selected>Select Gender</option>
  <option *ngFor="let item of genderOptions" [ngValue]="item.key">
    {{ item.label }}
  </option>
</select>


     <p *ngIf="genderModel.invalid && (genderModel.touched || genderModel.dirty)" class="text-red-600 text-sm">
      Gender required
    </p>
  </div>

    <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Nationality</label>
    <input type="text" name="nationality" #nationality="ngModel" required [disabled]="!editMode"  [(ngModel)]="staffData.nationality"  (ngModelChange)="onInputChange()" placeholder="Enter country of origin" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
     <p *ngIf="nationality.invalid && (nationality.touched || nationality.dirty)" class="text-red-600 text-sm">
     Nationality required
    </p>
  </div>


  <!-- Row 3 -->
  <div >
     <label class="block w-40 text-sm font-medium text-gray-700">Marital Status</label>
    <!-- <input type="text" name="maritalStatus" #maritalStatus="ngModel" required [disabled]="!editMode"   [(ngModel)]="staffData.maritalStatus"   placeholder="Select marital status" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/> -->

    <select
  name="maritalStatus"
  
    [(ngModel)]="staffData.maritalStatus"
  #maritalStatus="ngModel"
  required
  class="relative top-4 border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
>
  <option [ngValue]="null" disabled selected>Select Marital Status</option>
  <option *ngFor="let item of maritalStatusOption" [ngValue]="item.key">
    {{ item.label }}
  </option>
</select>

     <p *ngIf="maritalStatus.invalid && (maritalStatus.touched || maritalStatus.dirty)" class="text-red-600 text-sm">
     Marital status required
    </p>
  </div>


<!-- pattern="^0[235]\d{8}$" -->

  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">Phone number</label>
    <input type="text" name="phoneNumber" required   #phoneNumber="ngModel"
 [disabled]="!editMode"  [(ngModel)]="staffData.phoneNumber"   placeholder="Enter active phone number" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />

    <p *ngIf="phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)" class="text-red-600 text-sm">
    Valid phone number required (e.g. +23324xxxxxxx)
  </p>
  </div>

  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Enter email address</label>
    <input type="text" name="email" #email="ngModel" required [disabled]="!editMode"  [(ngModel)]="staffData.email"   placeholder="Enter valid email address" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>

     <p *ngIf="email.invalid && (email.touched || email.dirty)" class="text-red-600 text-sm">
      Enter email required
    </p>
  </div>


   <!-- Row 4 -->
  <div class="">
    <label class="block w-40 text-sm font-medium text-gray-700">ID Type</label>
    <input type="text" name="idType" #idType="ngModel" required [disabled]="!editMode" [(ngModel)]="staffData.idType"   placeholder="Select ID type (e.g Nation ID, Passport)" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>

     <p *ngIf="idType.invalid && (idType.touched || idType.dirty)" class="text-red-600 text-sm">
      ID type required
    </p>
  </div>

  <div >
    <label class="block w-40 text-sm font-medium text-gray-700">ID Number</label>
    <input type="text" name="idNumber" #idNumber='ngModel' required [disabled]="!editMode" [(ngModel)]="staffData.idNumber"   placeholder="Enter valid ID number" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />

     <p *ngIf="idNumber.invalid && (idNumber.touched || idNumber.dirty)" class="text-red-600 text-sm">
      ID number required
    </p>
  </div>

</form>
</div>

</div>


















<!-- </div>(ngModelChange)="onInputChange('nationality', $event)" -->



                   <!-- FOR IMAGE PREVIEW -->
 <!-- <img
            *ngIf="staffData?.profilePicture"
            [src]="getSafeProfilePicture(staffData.profilePicture)"
            alt="Image Preview"
            class="object-cover w-full h-full rounded-full relative right-[19px]"
          /> -->





<!-- 

           class="flex">

     <div class="mt-[-9rem] ">
        <picture class="font-bold">Profile </picture>
        <p class="text-[#727A90] text-sm">The image will be displayed on their Profile</p>
    </div> 


      Image Preview
     <div class="lg:col-span-2 flex flex-col items-cente mt-10">
      <div class="relative w-[90px] [167px] h-[90px] [167px] mb-2">
        <div lass="border-[#4393FF] bg-[#4393FF1A] border rounded-full w-full h-full overflow-hidden fle items-center justify-center">
          <ng-container *ngIf="!imagePreview">
            <span class="text-gray-600 text-sm text-center ">No Image</span>
          </ng-container>
         
        <div class="-32 h-24 rounded-full overflow-hidden bg-gray-200 flex items-center justify-center mt-[-25px]">
           <img
            *ngIf="imagePreview; else savedImage"
            [src]="imagePreview"
            alt="Preview Image"
            class="h-full w-auto object-cover"
          /> 
          <img src="/Preview.png">
          
          <ng-template #savedImage>
            <img
              *ngIf="staffData?.profilePicture"
              [src]="getSafeProfilePicture(staffData.profilePicture)"
              alt="Saved Image"
              class="h-full w-auto object-cover "
            />
          </ng-template>
        </div>
        </div>
        </div>

      Upload image
      <div>
        <input 
          type="file"
          id="fileInput"
          (change)="onFileSelected($event)"
          [disabled]="!editMode"
          class="hidden"
        />
        <label
          for="fileInput"
          class="text-sm bg-[#4393FF1A] text-[#4393FF] px-3 py-1 rounded cursor-pointer"
        >
          Upload Image
        </label>
      </div>

      

    

       <div class="mt-6">
       <p class="font-bold">Personal Information</p> 
        <p class="text-[#727A90] text-sm">Basic personaldetails of the staff</p>
      </div> 
    </div>  -->
