<div class="mx-[17rem]">

  <div>
    <div class="mt-8">
        <picture class="font-bold">Profile </picture>
        <p class="text-[#727A90] text-sm">The image will be displayed on theeir Profile</p>
    </div>

      <!-- Image Preview -->
    <div class="lg:col-span-2 flex flex-col items-cente mt-10">
      <div class="relative w-[90px] [167px] h-[90px] [167px] mb-2">
        <div class="border-[#4393FF] bg-[#4393FF1A] border rounded-full w-full h-full overflow-hidden flex items-center justify-center">
          <ng-container *ngIf="!imagePreview">
            <span class="text-gray-600 text-sm text-center">No Image</span>
          </ng-container>
          <img
            *ngIf="imagePreview"
            [src]="imagePreview"
            alt="Image Preview"
            class="object-cover w-full h-full rounded-full"
          />
        </div>
      </div>

      <!-- Upload image -->
      <div>
        <input 
          type="file"
          id="fileInput"
          (change)="onFileSelected($event)"
          class="hidden"
        />
        <label
          for="fileInput"
          class="text-sm bg-[#4393FF1A] text-[#4393FF] px-3 py-1 rounded cursor-pointer"
        >
          Upload Image
        </label>
      </div>

      <div class="mt-6">
       <p class="font-bold">Personal Information</p> 
        <p class="text-[#727A90] text-sm">Basic personaldetails of the staff</p>
      </div>
    </div>

  </div>



      <form #staffForm="ngForm" (ngSubmit)="onSubmit(staffForm)" class="grid grid-cols-3 grid-rows-4 gap-4 p-6 bg-white rounded gap-y-6 gap-x-[22rem]">
  <!-- Row 1 -->
   
  <div class="">
    <label class="block w-40 text-sm font-medium text-gray-700">First Name</label>
    <input type="text" name="firstName" [(ngModel)]="staffdata.firstName" placeholder="Enter legal first name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Last Name</label>
    <input type="text" placeholder="Enter legal last name" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Other</label>
    <input type="email" placeholder="Enter if any" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 "  />
  </div>
  <!-- <div>
    <label class="block text-sm font-medium text-gray-700">Phone</label>
    <input type="tel"class="border-[1px] border-[#D7D7D7] w- [345px] lg:w- [476px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  lass="mt-1 block w-full rounded-md border-gray-300 shadow-sm" />
  </div> -->
 

  <!-- Row 2 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Date of birth</label>
    <input type="text" placeholder="Select birth date" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Gender</label>
    <input type="text" placeholder="Chose gender" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Nationality</label>
    <input type="text" placeholder="Enter country of origin" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>
  <!-- <div>
    <label class="block text-sm font-medium text-gray-700">Country</label>
    <input type="text"class="border-[1px] border-[#D7D7D7] w- [345px] lg:w- [476px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  lass="mt-1 block w-full rounded-md border-gray-300 shadow-sm" />
  </div> -->

  <!-- Row 3 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Marital status</label>
   <select
  [(ngModel)]="storedMaritalData"
  id="maritalStatus"
  name="maritalStatus"
  class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
>
  <option value="" disabled>Select marital status</option>
  <!-- <option *ngFor="let user of APIData" [value]="user.unitHead.maritalStatus">
    {{ user.unitHead.maritalStatus }}
  </option> -->
  <option>
    Single
  </option>
  <option>
    Married
  </option>
  <option>
    Divorced
  </option>
</select>


  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Phone number</label>
    <input type="text" placeholder="Enter active phone number" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Enter email address</label>
    <input type="text" placeholder="Enter valid email address" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>


   <!-- Row 4 -->
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">ID Type</label>
    <!-- <input type="text" placeholder="Select ID type (e.g Nation ID, Passport)" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"/> -->
   <select
  [(ngModel)]="storedMaritalData"
  id="maritalStatus"
  name="maritalStatus"
  class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
>
  <option value="" disabled>Select ID type</option>
  <!-- <option *ngFor="let user of APIData" [value]="user.unitHead.maritalStatus">
    {{ user.unitHead.maritalStatus }}
  </option> -->
  <option>
    Ghana Card
  </option>
  <option>
    Passport
  </option>
  <option>
    Voters ID
  </option>
</select>
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">ID Number</label>
    <input type="text" placeholder="Enter valid ID number" class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>
  <div>
    <label class="block w-40 text-sm font-medium text-gray-700">Email address</label>
    <input type="text" placeholder="Enter valid email address"  class="border-[1px] border-[#D7D7D7] w-[311px] h-[45px] rounded-[7px] bg-[#F2F2F2] px-3 placeholder:text-[#888888] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>

</form>




</div>
