
<!-- <div class="mt-[5rem] bg-white mx-6 h-full rounded-t-[30px] "> -->
 <div class="mx-10 relative top-20">
              
                  <!-- import and add staff -->
    <div class="flex justify-between ">
        <div class="">
           <span class="text-[24px text-[#525252] font-bold">Welcome, Bright</span> 
            <p class="text-[#919191] text-[14px]">Here's a summary of your transaction</p>
        </div>

         <div class="space-x-6 flex ">
            <div class="">
            <button class="flex justify-center items-center gap-1 border-2 text-[14px] bg-[#13389B2B] text-[#4393FF] w-[96px] h-[40px] rounded-lg"><img src="/pluslogo.png" class="w-[18px] h-[16px] ">Import</button>
            </div>
            <div class="">
            <button class="flex gap-1 justify-center items-center bg-[#4393FF] text-white text-[14px] w-[113px] h-[40px] rounded-lg "><span class="">+</span>Add Staff</button>
            </div>
        </div>
    </div>
   

                                   <!-- Cards -->
    <div class="flex justify-between mt-10   ">
        <div class="mx-4 my-4 border-[#E9EAEA] border-[1.15px] w-[303px] h-[162px] rounded-[30px]">
             <div class="mx-4 my-4">
            <div class="flex gap-2   ">
            <img src="Vector2.png" class="w-[16.25px] h-[23.02px]"><span class="text=[16px] font-semibold font-outfit">Staff</span>
            </div>
            
            <div class=""> 
               <p class="font-bold text-[27.57px] mt-4">434</p> 
            <p class="flex gap-2"><img src="/Percentage.png" class="w-[49.38px] h-[23px] mt-4"><span class="mt-4 text-[16.09px]">Today</span></p>
            </div>
        </div>
        </div>



          <div class="mx-4 my-4   border-[#E9EAEA] border-[1.15px] w-[303px] h-[162px] rounded-[30px]">
             <div class="mx-4 my-4">
            <div class="flex gap-2">
            <img src="clock.png" class="w-[20px] h-[20px]"><span class="text=[16px] font-semibold">Staff On Duty</span>
            </div>

            <div class=""> 
               <p class="font-bold text-[27.57px] mt-4">434</p> 
           <p class="flex gap-2"><img src="/Percentage.png" class="w-[49.38px] h-[23px] mt-4"><span class="mt-4 text-[16.09px]">Today</span></p>
            </div>
            </div>
        </div>

         <div class="mx-4 my-4   border-[#E9EAEA] border-[1.15px] w-[303px] h-[162px] rounded-[30px]">
            <div class="mx-4 my-4">
            <div class="flex gap-2">
            <img src="clock.png" class="w-[20px] h-[20px]"><span class="text=[16px] font-semibold">Staff On Leave</span>
            </div>

            <div class=""> 
               <p class="font-bold text-[27.57px] mt-4">434</p> 
           <p class="flex gap-2"><img src="/Percentage.png" class="w-[49.38px] h-[23px] mt-4"><span class="mt-4 text-[16.09px]">Today</span></p>
            </div>
            </div>
            </div>

             <div class="mx-4 my-4 border-[#E9EAEA] border-[1.15px] w-[303px] h-[162px] rounded-[30px]">
               <div class="mx-4">
               <div class="flex gap-2 my-4 ">
               <img src="FrameR.png" class="w-[32px] h-[32.02px]"><span class="text=[16px] font-semibold">Unit</span>
            </div>

            <div class=""> 
               <p class="font-bold text-[27.57px] mt-4">434</p> 
           <p class="flex gap-2"><img src="/Percentage.png" class="w-[49.38px] h-[23px] mt-4"><span class="mt-4 text-[16.09px]">Today</span></p>
            </div>
            </div>
            </div>

    </div>




    
</div>
<!-- </div> -->
